In [1]:
#!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\helen\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\helen\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\helen\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\helen\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\helen\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\helen\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [6]:
import pandas as pd

file_path = 'Consolidated.csv'
df = pd.read_csv(file_path)

df.head()

                 HF_NAME  HF_TYPE  STAR_RATING REGION
0       CARDINAL RUGAMBWA    HOSP            1  Ilala
1  REGENCY MEDICAL CENTRE    HOSP            2  Ilala
2              ST BERNARD    HOSP            1  Ilala
3   APOLLO MEDICAL CENTER      HC            1  Ilala
4               DR.HAMEER      HC            1  Ilala

In [8]:
# Check the data types
df.dtypes

HF_NAME        object
HF_TYPE        object
STAR_RATING     int64
REGION         object
dtype: object

In [9]:
# Check for null values
null_values = df.isnull().sum()

# View columns with missing values
print(null_values[null_values > 0])

Series([], dtype: int64)

In [11]:
# Check for duplicates
duplicate_rows = df[df.duplicated()]

# If duplicates are found, drop them
df_clean = df.drop_duplicates()